#parent{
     background-color: black; 
    border: 2px solid yellow;
    display: flex;
    gap: 12px ;
    flex-direction: center;
    align-items: space-around;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
/*  */
/*  */
/*  */
}
.child{
    background-color: aqua;
    color: red;
    height: 100px;
    width: 100px;
    border:1px solid red;
    margin: 10px;
    flex: 1;
    justify-content: center;
/*  */
/*  */
}
.child::before{
    content: "Number:";
}
.child3{
    background-color: violet;
} */
.konda{
display: flex; 
} 
 button{
    height: 70px;
    width: 80px;
    background-color: red;
    color: black;
    font-family: italic;
    font-size: 20px; 
    border: 2px solid yellow;
    margin: 40px;
    padding: 10px; 
    cursor: pointer;
     transition-delay: 100ms;
    transition-duration: 100ms;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0, 1.23, 0.32, 1.28);
    transition: color cubic-bezier(0, 1.23, 0.32, 1.28) 200ms 100ms;

}
.button:hover{
    background-color: yellow    ;
    color: blue;
/*  */
/*  */
}
 p,span{
    background-color: palevioletred;
    color: #000;
    border-radius: 10px;
} 
.child:nth-child(even){
    background-color: red;
    color: white;
}